/*
 * Styling for the XKPasswd webapp
 */

body {
  --bs-font-sans-serif: 'Noto Sans', sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-font-family: var(--bs-font-sans-serif);
  font-family: 'Noto Sans', sans-serif;
}

#main {
  background-color: inherit;
}

.navbar-brand img {
  max-height: 4rem;
}

.container {
  height: 350px;
}

.container .img-fluid {
  display: block;
  width: auto;
  max-height: 350px;
}

.btn-stats {
  --bs-btn-padding-y: .15rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .85rem;

  font-weight: 800;
}

/* make the checkmark bold, bigger and green */
#generated_password_lst button.list-group-item i.bi-check {
  color: rgba(var(--bs-success-rgb)) !important;
  font-weight: 800;
}

.password-textbox {
  overflow: auto;
  resize: none;
}

.link {
  color: #0602e8;
}

.input-group-text {
  font-weight: 400;
}
