/*
 * Styling for the XKPasswd webapp
 */

body {
  --bs-font-sans-serif: 'Noto Sans', sans-serif;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-font-family: var(--bs-font-sans-serif);
  font-family: 'Noto Sans', sans-serif;
}

#main {
  background-color:inherit;
}

.navbar-brand img {
  max-height: 4rem;
}

.bd-clipboard,.bd-edit {
  position: relative;
  display: none;
  float: right
}

.bd-clipboard+.highlight,.bd-edit+.highlight {
  margin-top: 0
}

@media (min-width: 768px) {
  .bd-clipboard,.bd-edit {
      display:block
  }
}

.btn-clipboard,.btn-edit {
  display: block;
  padding: .5em;
  line-height: 1;
  color: var(--bs-body-color);
  background-color: var(--bd-pre-bg);
  border: 0;
  border-radius: .25rem
}

.btn-clipboard:hover,.btn-edit:hover {
  color: var(--bs-link-hover-color)
}

.btn-clipboard:focus,.btn-edit:focus {
  z-index: 3
}

.btn-clipboard {
  position: relative;
  z-index: 2;
  margin-top: 1.25rem;
  margin-right: .75rem
}


